doctype html
html
    head
        meta(charset="utf-8")
        title ТЗ
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        //link(rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css")

        //link(rel='stylesheet' href='/assets/css/foundation.css')
        link(rel='stylesheet' href='./css/style.css')
        //script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

        script(src='/assets/js/foundation.js' defer)
        script(src='/assets/js/app.js' defer)

        <!--[if lt IE 9]>
        script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
        <![endif]-->

    body

        .wrapper
            header.header
                .container
                    p.header__text Capture Mac desktop, movies and live streams with sound at 60 fps! Save recordings in iPod, iPad, & iPhone formats
                    a(href='#').header__button Buy at 50% OFF
                    p.header__text A special discount for our mobile visitors:
                        span.header__text_old-price  $29.95
                        span.header__text_new-price  $14.95
            .container
                main.content
                    ul.content__items-wrapper
                        -
                            var listOne = [['Capture and save Mac screens in any popular format!', 'Record screencasts at full screen, including from high resolution Retina displays, or choose any part of the screen. Capture the mouse cursor or exclude it from the recording. Record sounds. Create smooth screencasts for viewing on your Apple devices.', 'content__picture_screen-1'],
                            ["Record live streamsformat!", 'With Movavi screen recorder for Mac you can capture screens at 60 fps speed to get the smoothest video possible. Capture a specific window with an open Flash video player, and don\'t be afraid to move it while you’re recording – the smart capture frame will follow the window\'s movements!', 'content__picture_screen-1']]

                        each item in listOne
                            li.item
                                article.content__item
                                    h3.content__title= item[0]
                                    .content__picture(class = `${item[2]}`)
                                    .content__description= item[1]

                    ul.content__item-wrapper
                        -
                            var listTwo = [["Save screen video for Apple or any other deviceformat!", 'Save files in any popular format, including MP4, so they\'re fully compatible with Mac OS X as well as any other platform – desktop, laptop, or mobile. You can also encode videos for playback on your iPad, iPhone, iPod, Apple TV, or any other device using the handy ready-made presets.', 'content__picture_screen-1'],
                            ["Capture and save Mac screens in any popular format!", 'Record your voice demos through a built-in/USB microphone (no additional software required). Capture audio tracks from online videos and media players, or record system sounds.', 'content__picture_screen-1']]

                        each item in listTwo
                            li.item
                                article.content__item
                                    h3.content__title= item[0]
                                    .content__picture(class = `${item[2]}`)
                                    .content__description= item[1]

            .empty

        footer.footer
